[user]
  email = test@example.com

[maintenance]
	repo = /Users/larrybotha/projects/practice-manager-orthodontics
	repo = /Users/larrybotha/projects/obsidian-vaults/everything

# vim: set filetype=gitconfig:
