###
# Config ignores
###

epy
exercism
gcloud
graphite
packer
tracy

# karabiner-elements
karabiner/*
!karabiner/karabiner.json

# nnn
nnn/*
!nnn/custom

# 1password
op/config

# wireshark
wireshark/recent*

# updates
update-notifier-alex.json
simple-update-notifier/nodemon.json
