###
# Config ignores
###

# karabiner-elements
karabiner/*
!karabiner/karabiner.json

# epy epub reader
epy

# nnn
nnn/*
!nnn/custom

# gcloud
gcloud

# graphite
graphite

# packer
packer/*

# updates
update-notifier-alex.json
simple-update-notifier/nodemon.json
