###
# Config ignores
###

# karabiner-elements
karabiner/*
!karabiner/karabiner.json

# nnn
nnn/*
!nnn/custom

# packer
packer/*

# gcloud
gcloud

# updates
update-notifier-alex.json
simple-update-notifier/nodemon.json
