###
# Config ignores
###

epy
exercism
gcloud
graphite
packer
tracy

# karabiner-elements
karabiner/*
!karabiner/karabiner.json

# updates
update-notifier-alex.json
simple-update-notifier/nodemon.json
